@font-face {
  font-family: "Montserrat";
  src: url(./fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat-extrabold";
  src: url(./fonts/Montserrat-ExtraBold.ttf);
}
@font-face {
  font-family: "Montserrat-bold";
  src: url(./fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "Montserrat-medium";
  src: url(./fonts/Montserrat-Medium.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-primary: #252b42;
  --color-secondary: #737373;
  --font-primary: "Montserrat";
  --font-secondary: "Montserrat-extrabold";
  --font-bold: "Montserrat-bold";
  --font-medium: "Montserrat-medium";
}
body {
  height: 100vh;
  font-family: var(--font-medium);
  background-image: url(./images/hero-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fafafa;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
header {
  padding: 23px 0;
}
.header-wrapper {
  display: flex;
  align-items: center;
  gap: 121px;
}
.nav-list {
  display: flex;
  gap: 21px;
}
.header-icons {
  display: none;
}

.nav-list__item a {
  color: var(--color-secondary);
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 384px) {
  header {
    padding-bottom: 0;
  }
  .header-wrapper {
    justify-content: space-between;
    padding: 40px 45px 105px 36px;
  }
  nav {
    display: none;
  }

  .header-icons {
    display: block;
    display: flex;
    gap: 24px;
    align-items: center;
  }
}

/* Hero section */
.hero {
  padding-top: 80px;
  gap: 0;
}
.hero-heading1 {
  font-size: 58px;
  font-weight: bold;
  color: var(--color-primary);
  line-height: 80px;
  margin: 0;
}
.hero-paragraph {
  font-size: 20px;
  color: var(--color-secondary);
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 40px;
  margin: 0;
}
.hero-btn1 {
  padding: 10px 36px;
  border-radius: 37px;
  background-color: #ffa62b;
  border: none;
  color: white;
  font-weight: 700;
}
.hero-btn2 {
  padding: 10px 36px;
  border-radius: 37px;
  border: 2px solid #00a0c1;
  color: #00a0c1;
  background-color: transparent;
  font-weight: 700;
}
@media (max-width: 384px) {
  .hero {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding-top: 0;
  }
  .hero-heading1 {
    font-size: 40px;
    line-height: 57px;
    text-align: center;
  }
  .hero-paragraph {
    max-width: 279px;
    line-height: 30px;
    text-align: center;
  }
  .hero-btns {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
  }
}

/* Card section */
.nav-list {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.hero-list__item {
  max-width: 400px;
  height: 210px;
  background-color: white;
  padding: 35px 66px 35px 40px;
}
.list-heading2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-primary);
  margin-top: 10px;
  margin-bottom: 10px;
}
.list-paragraph {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-secondary);
  line-height: 20px;
}
.unique-card {
  background-color: #00a0c1;
  color: white;
}
@media (max-width: 384px) {
  .nav-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

/* Reason section */
.reason {
  margin-top: 112px;
  padding: 80px;
}
.reason-list {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.reason-heading2 {
  font-size: 40px;
  font-weight: bold;
  color: var(--color-primary);
  line-height: 57px;
  text-align: center;
  margin-bottom: 10px;
}
.reason-paragraph {
  font-size: 14px;
  color: var(--color-secondary);
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}
.reason-list__item {
  max-width: 300px;
  height: 230px;
  padding: 30px 40px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.list-heading3 {
  font-size: 40px;
  font-weight: bold;
  line-height: 57px;
  color: var(--color-primary);
}
.list-span {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: var(--color-secondary);
}
@media (max-width: 384px) {
  .reason {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .list-heading3 {
    max-width: 245px;
  }

  .list-span {
    max-width: 225px;
  }
  .reason {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
  }
  .reason-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
  }
}

/* Advice section */

.advice-list {
  margin-top: 45px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
}
.advice-list__item {
  width: 232px;
  height: 203px;
  background-color: white;
  /* padding: 30px 42px 30px 30px; */
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}
.advice-heading4 {
  font-size: 16px;
  font-weight: bold;
  columns: var(--color-primary);
  line-height: 24px;
  padding: 20px 20px 10px;
}
.advice-paragraph {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--color-secondary);
  padding: 0 20px 20px;
}

@media (max-width: 384px) {
  .reason-heading2 {
    max-width: 180px;
    text-align: center;
  }
  .reason-paragraph {
    max-width: 225px;
    text-align: center;
  }
  .advice {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }
  .advice-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
}

/* Service section */
.service {
  margin-top: 100px;
  padding: 100px 0;
  background-color: #ffffff;
}
.service-heading2 {
  font-size: 40px;
  font-weight: bold;
  color: var(--color-primary);
  line-height: 57px;
  text-align: center;
  margin-bottom: 10px;
}
.service-paragraph {
  font-size: 14px;
  color: var(--color-secondary);
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}
.service-wrapper {
  padding-top: 100px;
  display: flex;
  align-items: center;
  gap: 150px;
}
.service-text h3 {
  font-size: 40px;
  font-weight: bold;
  line-height: 57px;
  color: var(--color-primary);
}
.service-paragraph2 {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-secondary);
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.people {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}
.people-paragraph {
  font-size: 16px;
  font-weight: bold;
  color: var(--color-primary);
  line-height: 24px;
}
.people-span {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-secondary);
}
.speed {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}
@media (max-width: 384px) {
  .service {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .service-heading {
    max-width: 308px;
    text-align: center;
  }
  .service-paragraph {
    max-width: 225px;
    text-align: center;
  }
  .service-img {
    width: 333px;
    height: 442px;
    object-fit: cover;
  }
  .service-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Subscription */
.subscrption {
  padding-bottom: 80px;
}
.company-list {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.letter {
  width: 986px;
  height: 124px;
  background-color: #16697a;
  padding: 30px 50px;
  display: flex;
  gap: 170px;
  align-items: center;
  border-radius: 2px;
  transform: translateY(160px);
}

.letter-h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: white;
}
.subscribe {
  width: 100%;
  height: 77px;
  background-color: var(--color-primary);
  margin-top: 110px;
}
input {
  padding: 15px;
  border-radius: 5px 0 0 5px;
  border: none;
  outline: none;
  border: 1px solid #e5e5e5;
  font-weight: var(--font-primary);
}
.input-wrapper {
  display: flex;
}
.input-wrapper button {
  padding: 15px;
  font-weight: 400;
  border: none;
  background-color: #ffa62b;
  color: white;
  border: 1px solid #e5e5e5;
  border-radius: 0 5px 5px 0;
}

@media (max-width: 384px) {
  .subscrption {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .company-list {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  .subscribe {
    display: none;
  }
  .letter {
    width: 414px;
    height: 212px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  input {
    width: 220px;
  }
}

/* Get in touch section */
.getin-touch {
  padding-bottom: 150px;
}
.getin-touch__heading2 {
  font-size: 40px;
  font-weight: bold;
  line-height: 57px;
  color: var(--color-primary);
  text-align: center;
}
.getin-touch__paragraph {
  font-size: 14px;
  color: var(--color-secondary);
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  margin-top: 10px;
}
.getin-touch__list {
  margin-top: 100px;
  display: flex;
}
.getin-touch__item {
  width: 328px;
  height: 333px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: white;
  padding: 30px 52px 50px 53px;
}
.touch-item__paragraph {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: var(--color-primary);
  text-align: center;
}
.getin-touch__span {
  font-size: 17px;
  font-weight: 700;
  color: var(--color-primary);
}
.getin-touch__btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ffa62b;
  color: #ffa62b;
  background-color: transparent;
  margin-top: 15px;
}
.location-card {
  width: 360px;
  height: 400px;
  padding: 80px 40px;
  background-color: var(--color-primary);
  color: white;
  transform: translateY(-40px);
}
.touch-item__paragraph2 {
  color: white;
}
.getin-touch__span2 {
  color: white;
}
.getin-touch__btn2 {
  border: 1px solid #ffffff;
  color: white;
}

@media (max-width: 384px) {
  .getin-touch {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }
  .getin-touch__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .location-card {
    transform: translateY(0);
  }
  .getin-touch__heading2 {
    margin-top: 120px;
  }
  .getin-touch__paragraph {
    max-width: 264px;
    text-align: center;
  }
}

/* Contact section */
.contact {
  width: 100%;
  height: 130px;
  background-color: white;
  padding: 40px 0;
}
.contact-wrapper {
  display: flex;
  gap: 500px;
  align-items: center;
}
.contact-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-paragraph {
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  color: var(--color-primary);
}
.contact-paragraph2 {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: var(--color-secondary);
}
.contact-btn {
  padding: 15px 30px;
  background-color: #ffa62b;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  font-size: 14px;
  border: none;
}
@media (max-width: 384px) {
  .contact {
    width: 100%;
    height: 302px;
    display: flex;
    flex-direction: column;
  }
  .contact-paragraph {
    max-width: 239px;
  }
  .contact-paragraph2 {
    max-width: 184px;
  }
  .contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
  }
}

/* Footer */
footer {
  width: 100%;
  height: 272px;
  background-color: #16697a;
  color: white;
  padding: 50px 0;
}
.footer-wrapper {
  display: flex;
  gap: 80px;
}
.footer-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-info__span {
  font-size: 16px;
  font-weight: 700;
}
.footer-info p {
  font-size: 14px;
  font-weight: 300;
}

.footer-social {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.icons {
  display: flex;
  gap: 10px;
  align-items: center;
}
.social-span {
  font-size: 17px;
  font-weight: 700;
}
.icons p {
  font-size: 14px;
  font-weight: 500;
}
.footer-below {
  width: 100%;
  height: 74px;
  background-color: white;
}
.icons-2 {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer-below__paragraph {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-secondary);
}
.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
}
@media (max-width: 384px) {
  footer {
    width: 100%;
    height: 1063px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
  }
  .footer-below {
    width: 100%;
    height: 202px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
  }
  .box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
  }
  .footer-below__paragraph {
    max-width: 231px;
  }
}
